@tailwind base;
@tailwind components;
@tailwind utilities;

$cyan: #30BCED;
$tomato: #FC5130;
$jet: #303036;
$ghost-white: #FFFAFF;
$dark-gray: #050401;
$dark-cyan: #2697be;
$dark-tomato: #bd3d24;

@layer components {
    .icon-btn {
        @apply
            p-2 border-2 rounded-md border-gray-300
            hover:border-gray-500 focus:border-gray-500
    }

    .btn {
        @apply
            px-8 py-2 bg-jet rounded-md shadow-md
            text-lg text-white
            hover:shadow-xl hover:bg-dark-gray focus:bg-dark-gray
            focus:outline-none
            transition-all
    }

    .input {
        @apply
            mt-1 block w-full px-3 py-2
            border border-jet rounded-md shadow-md
            focus:outline-none focus:ring-cyan focus:border-cyan;
    }
}

@layer utilities {
    .responsive-px {
        @apply px-8 lg:px-32 xl:px-64;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}